@using ViajesETech.Web.Models
@model IEnumerable<ViajesETech.Dominio.Data.ViajesViajeros>

@{
    ViewBag.Title = "Mis Viajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["Usuario"] as UserLoger;
}

<h2>Mis Viajes</h2>
<p>
    @if (user.Rol)
    {
        @Html.ActionLink(" ", "ViajesViajeroReportTotal", null, new { @class = "btn btn-primary glyphicon glyphicon-save-file " })
    }
    else
    {
        @Html.ActionLink(" ", "ViajesViajeroReport", null, new { @class = "btn btn-primary glyphicon glyphicon-save-file " })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        @if (user.Rol)
        {
            <th>
                Usuario
            </th>
        }

        <th>
            Viaje
        </th>
        <th>
            Total
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @if (user.Rol)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Viajeros.User.UserName)
        </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Viajes.DestinosOrigen.Name) /  @Html.DisplayFor(modelItem => item.Viajes.DestinosFin.Name)
        </td>
        <td>
            @(item.Price * item.Place)
        </td>
        <td>

            @Html.ActionLink(" Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-eye-open " })
           
        </td>
    </tr>
    }

</table>
