@model IEnumerable<ViajesETech.Dominio.Data.Destinos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Destino", "Create",null,new { @class="btn btn-primary"})
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.Id },new {@class= "btn btn-primary glyphicon glyphicon-edit" })
            @Html.ActionLink(" ", "Details", new { id=item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-eye-open" })
            @Html.ActionLink(" ", "Delete", new { id=item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
